h1{
    font-family: Arial, sans-serif;
    margin-top: 45px;
    margin-left: 50px;
    font-size: 24px;
    color: #595959;
    font-weight: 400;
  }

h3{
    max-width: 950px;
    font-family: Arial, sans-serif;
    margin-top: 45px;
    margin-left: 50px;
    font-size: 18px;
    color: #a0a0a0;
    font-weight: lighter;
  }

.imgsContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 40px;
    margin-left: 50px;
    max-width: 820px;
}

.divImg{
    display: inline-block;
    max-width: 800px;
}

.objectImg{
    max-width: 200px;
    border: 1px solid #25BFC9;
    margin-right: 20px;
    margin-bottom: 20px;
}